body.single-post article .entry-content {
  /* Series Box */
  /* Toc Container */
  /* Content Css */
}
body.single-post article .entry-content .seriesbox {
  float: left;
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
}
body.single-post article .entry-content .seriesbox .center a {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 130%;
  color: #4f5357;
  font-weight: 700;
  font-size: 23px;
}
body.single-post article .entry-content .seriesbox ul.serieslist-ul {
  margin-bottom: 25px;
  line-height: 150%;
  font-size: 16px;
  letter-spacing: -0.4px;
}
body.single-post article .entry-content .seriesbox ul.serieslist-ul li {
  list-style: circle;
}
body.single-post article .entry-content .seriesbox ul.serieslist-ul li a {
  color: #3498DB;
}
body.single-post article .entry-content div#toc_container p.toc_title {
  font-weight: bolder;
}
body.single-post article .entry-content div#toc_container ul.toc_list li a {
  color: #007bb6;
}
body.single-post article .entry-content .seriesmeta {
  font-size: 1.05em !important;
  background-color: #E5F3FF !important;
  padding: 10px;
  margin: 10px 0;
}
body.single-post article .entry-content .seriesmeta a {
  color: #000CFF;
}
body.single-post article .entry-content .serie-list {
  overflow: hidden;
  background: #C7F5D2;
  padding: 1em;
  border: 1px solid #e8e8e8;
}
body.single-post article .entry-content .serie-list legend {
  font-weight: bolder;
}
body.single-post article .entry-content h1 {
  font-size: 3rem;
}
body.single-post article .entry-content h2 {
  font-size: 2rem;
  color: #0093C2;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 0.65rem;
  margin: 0 0 1.5rem 0;
}
body.single-post article .entry-content h2 .big {
  font-size: 2.5rem;
}
body.single-post article .entry-content h2 .smaller {
  font-weight: 600;
  font-size: 2rem;
  border: 0 none;
  padding: 0;
}
body.single-post article .entry-content h3 {
  font-size: 1.85rem;
  margin-bottom: 1rem;
}
body.single-post article .entry-content h3 .big {
  font-size: 2rem;
}
body.single-post article .entry-content h4 {
  font-size: 1.65rem;
  margin-bottom: 1rem;
}
body.single-post article .entry-content h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 31px;
  text-transform: none;
  letter-spacing: -0.02em;
}
body.single-post article .entry-content h6 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}
body.single-post article .entry-content p,
body.single-post article .entry-content div {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 2;
}
body.single-post article .entry-content p:last-child,
body.single-post article .entry-content div:last-child {
  margin-bottom: 0!important;
}
body.single-post article .entry-content strong {
  font-weight: bolder;
}
body.single-post article .entry-content b {
  font-weight: bold;
}
body.single-post article .entry-content i {
  font-style: italic;
}
body.single-post article .entry-content img {
  box-shadow: 0 0 0 4px #ddd;
  margin: 0 auto!important;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 20px!important;
}
body.single-post article .entry-content .text-xs-center {
  text-align: center!important;
}
body.single-post article .entry-content hr {
  margin: 10px 0 40px;
}
body.single-post article .entry-content a {
  color: #bb4a03;
  text-decoration: none;
}
body.single-post article .entry-content ul {
  margin-bottom: 1rem;
  padding-left: 1rem;
  margin-top: 0;
}
body.single-post article .entry-content ul li {
  font-size: 1rem;
  letter-spacing: -0.01em;
  line-height: 1.7;
}
body.single-post article .entry-content ol {
  margin-bottom: 1rem;
  padding-left: 1rem;
}
body.single-post article .entry-content ol li {
  font-size: 1rem;
  letter-spacing: -0.01em;
  line-height: 1.7;
}
body.single-post article .entry-content div .sc-list-item {
  margin: .5rem 0 2rem;
  font-weight: 400;
}
body.single-post article .entry-content div .sc-list-item span .sc-list-item-number {
  margin: 0;
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #8dbf42;
  color: #fff;
  border: 0 solid #fff;
  position: relative;
  text-align: center;
  font-size: 1.25rem;
}
body.single-post article .entry-content div .sc-list-item .sc-list-item-content.inherit {
  color: #383838;
}
body.single-post article .entry-content .border-bottom {
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
body.single-post article .entry-content .alert-warning {
  background-color: #fee2b7;
  border-color: #c7be9d;
  color: #222;
}
body.single-post article .entry-content .alert {
  padding: 1.25rem 1rem;
  border: 2px solid transparent;
  border-radius: 0;
}
body.single-post article .entry-content code {
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
  padding: .2rem .4rem;
  font-size: 0.9rem;
  font-family: monospace;
}
body.single-post article .entry-content blockquote {
  border-radius: 0 4px 4px 0;
  border-left: 5px solid #e5e5e5;
  padding: 1px .5rem 1rem 1rem;
  background: #fafafa;
  margin-top: 1rem;
}
body.single-post article .entry-content blockquote p {
  margin: 1rem 0 0;
}
.page-entry article .entry-wrapper .entry-summary .seriesmeta {
  background-color: #E5F3FF !important;
  padding: 10px;
  margin: 10px 0;
  font-size: 0.9rem;
}
.page-entry article .entry-wrapper .entry-summary .seriesmeta a {
  color: #46a546;
  font-weight: bold;
}
